/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* variables */
* {
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  /*light theme*/
  --color-light-main: #eee;
  --color-light-secondary: #d1d1d1;
  --color-light-text: #111;
  --color-light-active: #111;
  --color-light-error: red;

  /*dark theme*/
  --color-dark-main: #242424;
  --color-dark-secondary: #303136;
  --color-dark-text: #eee;
  --color-dark-active: yellow;
  --color-dark-error: red;
}

/* color schemes */
:root {
  color-scheme: light;

  --surface1: var(--color-light-main);
  --surface2: var(--color-light-secondary);
  --text1: var(--color-light-text);
  --active: var(--color-light-active);
  --error: var(--color-light-error);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --surface1: var(--color-dark-main);
    --surface2: var(--color-dark-secondary);
    --text1: var(--color-dark-text);
    --active: var(--color-dark-active);
    --error: var(--color-dark-error);
  }
}

[data-theme='light'] {
  color-scheme: light;

  --surface1: var(--color-light-main);
  --surface2: var(--color-light-secondary);
  --text1: var(--color-light-text);
  --active: var(--color-light-active);
  --error: var(--color-light-error);
}

[data-theme='dark'] {
  color-scheme: dark;

  --surface1: var(--color-dark-main);
  --surface2: var(--color-dark-secondary);
  --text1: var(--color-dark-text);
  --active: var(--color-dark-active);
  --error: var(--color-dark-error);
}

/* style */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text1);
  background-color: var(--surface1);
  fill: var(--text1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  color: var(--text1);
  background-color: var(--surface1);
  cursor: pointer;
  padding: var(--spacing-sm);
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.block {
  display: block;
}

.invisible {
  display: none;
}

/* Header */

header {
  background-color: var(--surface2);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm);
}

#brand {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

#actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

#theme-selection {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  margin-right: var(--spacing-lg);
}

.theme-button {
  background: none;
  border: 3px solid transparent;
  border-radius: 0;
  padding: 0;
  cursor: pointer;

  &.active {
    border-bottom: 3px solid var(--active);
    color: var(--active);
  }
}

/* Footer */

footer {
  background-color: var(--surface2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-sm);
}

#tech-stack,
#social-media {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

/* Main Content */

main {
  display: flex;
  justify-content: center;
  padding: var(--spacing-lg);
}

#form-wrapper {
  min-width: 360px;
}

#form-wrapper > h1 {
  margin-bottom: var(--spacing-lg);
  border-bottom: 1px solid var(--text1);
  padding-bottom: var(--spacing-sm);
}

input {
  background-color: var(--surface2);
  color: var(--text1);
  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  width: 30ch;
}

label {
  display: block;
  margin-bottom: var(--spacing-sm);
}

button#toggle-password {
  background: none;
  border: none;
}

button[disabled] {
  background-color: var(--surface2);
  cursor: default;
}

.error {
  color: var(--error);
  font-size: 0.8rem;
}

table {
  height: 280px;
}
