/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* variables */
* {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  /*light theme*/
  --color-light-brand: #bbb4b4;
  --color-light-primary: #fdfcfc;
  --color-light-secondary: #e7e4e4;
  --color-light-text: #1d1b1b;
  --color-light-active: yellow;
  --color-light-error: red;

  /*dark theme*/
  --color-dark-brand: #585656;
  --color-dark-primary: #242323;
  --color-dark-secondary: #3e3d3d;
  --color-dark-text: #d6d1d1;
  --color-dark-active: yellow;
  --color-dark-error: red;
}

/* color schemes */
:root {
  color-scheme: light;

  --surface-brand: var(--color-light-brand);
  --surface1: var(--color-light-primary);
  --surface2: var(--color-light-secondary);
  --text1: var(--color-light-text);
  --text2: var(--color-light-text);
  --active: var(--color-light-active);
  --error: var(--color-light-error);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --surface-brand: var(--color-dark-brand);
    --surface1: var(--color-dark-primary);
    --surface2: var(--color-dark-secondary);
    --text1: var(--color-dark-text);
    --text2: var(--color-light-text);
    --active: var(--color-dark-active);
    --error: var(--color-dark-error);
  }
}

[data-theme='light'] {
  color-scheme: light;

  --surface-brand: var(--color-light-brand);
  --surface1: var(--color-light-primary);
  --surface2: var(--color-light-secondary);
  --text1: var(--color-light-text);
  --text2: var(--color-light-text);
  --active: var(--color-light-active);
  --error: var(--color-light-error);
}

[data-theme='dark'] {
  color-scheme: dark;

  --surface-brand: var(--color-dark-brand);
  --surface1: var(--color-dark-primary);
  --surface2: var(--color-dark-secondary);
  --text1: var(--color-dark-text);
  --text2: var(--color-light-text);
  --active: var(--color-dark-active);
  --error: var(--color-dark-error);
}

/* style */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text1);
  background-color: var(--surface1);
  fill: var(--text1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: var(--active);
}

button {
  color: var(--text1);
  background-color: var(--surface2);
  cursor: pointer;
  padding: var(--spacing-sm);
  border-radius: 0.5ch;
  font-weight: 500;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.block {
  display: block;
}

.invisible {
  display: none;
}

/* Header */

header {
  background-color: var(--surface-brand);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm);
}

#brand {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

#actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

#theme-selection {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  margin-right: var(--spacing-lg);
}

.theme-button {
  background: none;
  border: 3px solid transparent;
  border-radius: 0;
  padding: 0;
  cursor: pointer;

  &.active {
    border-bottom: 3px solid var(--active);
    color: var(--active);
  }
}

/* Footer */

footer {
  background-color: var(--surface-brand);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-sm);
}

#tech-stack,
#social-media {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

footer img {
  max-width: 50px;
}

/* Main Content */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg);
}

#form-wrapper {
  min-width: 360px;
  margin-bottom: var(--spacing-lg);
}

#form-wrapper > h1 {
  margin-bottom: var(--spacing-lg);
  border-bottom: 1px solid var(--text1);
  padding-bottom: var(--spacing-sm);
}

input {
  background-color: var(--surface2);
  color: var(--text1);
  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  width: 30ch;
  border-radius: 0.5ch;
}

label {
  display: block;
  margin-bottom: var(--spacing-sm);
}

button#toggle-password {
  background: none;
  border: none;
}

button[disabled] {
  background-color: var(--surface-brand);
  cursor: default;
}

.error {
  color: var(--error);
  font-size: 0.8rem;
}

p {
  font-size: 0.8rem;
}

/* Table */
table {
  height: 280px;
  border-collapse: collapse;
  margin: 0 0 var(--spacing-lg) 0;
}

caption {
  padding: var(--spacing-lg);
  font-size: 1.4rem;
  font-weight: 500;
}

thead tr {
  background-color: var(--surface2);
  color: var(--text1);
  text-align: left;
}

th,
td {
  padding: var(--spacing-sm) var(--spacing-md);
  margin: 1px 0 1px 0;
}

tr {
  border-bottom: 1px solid var(--text1);
}

tbody tr:nth-of-type(even) {
  background-color: var(--surface2);
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--text1);
}

td:nth-child(1) {
  min-width: 6ch;
}

td:nth-child(2) {
  min-width: 30ch;
}

td:nth-child(3),
td:nth-child(4) {
  min-width: 14ch;

  & input {
    width: 12ch;
  }
}

td:nth-child(5) {
  min-width: 42ch;

  & input {
    width: 38ch;
  }
}

td:nth-child(6) {
  min-width: 10ch;
}

tr input {
  margin: 0;
  padding: var(--spacing-xs);
}

row-actions {
  display: flex;
  gap: var(--spacing-sm);
}

row-actions button {
  border: none;
  padding: 0;
  background-color: transparent;
}

#save-button {
  color: green;
}

#cancel-button {
  color: red;
}

/* Pagination */
ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li a {
  border: 1px solid var(--text1);
  border-radius: 0.2ch;
  padding: var(--spacing-xs) var(--spacing-sm);
  margin-left: 2px;
  color: var(--text1);
}

li.active a {
  background-color: var(--surface2);

  &:hover {
    color: var(--text1);
    cursor: default;
  }
}

a:hover {
  background-color: var(--surface-brand);
  color: var(--active);
}

/* Modal */

#add-button {
  position: relative;
  bottom: 49px;
  left: 486px;
}

dialog {
  background-color: var(--surface1);
  color: var(--text1);
  border: 2px solid var(--text1);
  border-radius: 0.5ch;

  & menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  & button {
    background-color: var(--surface2);
  }
}
